*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: cadetblue;
}
.height{
 height: 100vh;
}
.second{
    position: relative;
    display: none;
    backface-visibility: hidden;
}